* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body,
html {
	/* 	background-color: #eee; */
	width: 100%;
	height: 100%;
}

#app{
	background-image: url("../imges/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}



div {
	border-style: dotted;
	border-width: 1px;
}

#box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: 20px;
	gap: 20px;
}

#left {
	min-width: 200px;
	width: 20%;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	padding: 20px 0;
	backdrop-filter: blur(5px);
	overflow-y: auto;
	max-width: 220px;
}

#right {
	flex: 1;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	backdrop-filter: blur(3px);


}

iframe {
	width: 100%;
	border: none;
}

#kuang {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

#right-kuang {
	height: 100%;
	text-align: center;
}

.felx {
	display: flex;
}

.center {
	text-align: center;
}

.Btn-cd a {
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
	height: 100%;
}

.Btn-cd {
	text-align: center;
	height: 50px;
	background: linear-gradient(135deg, #ffb700 0%, #fce19e 100%);
	text-shadow: 1px 1px 2px rgba(102, 102, 102, 1);
	border-radius: 0 30px 30px 30px;
	text-align: center;
	width: 160px;
	height: 50px;
	margin: 0 auto 20px auto;
	line-height: 50px;
	opacity: 0.9;
	color: #ffffff;
	letter-spacing: 2px;
	transition: all 0.3s ease;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}



#I_tit {
	color: purple;
	padding: 10px;
}

.two {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	overflow-y: auto;
}

