.task-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	height: 100px;
}

div#show h3{
	height: 50px;
}
.A_app{
	margin: 20px;
	/* background-color: ; */
}
.xz{
	width: 25px;
	height: 25px;
}